@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark transition-colors duration-300;
  }
}
